{% load static %}
{% load sass_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
          <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css"/>
{#    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">#}
    <link rel="icon" href="{% static 'icons/icon.svg' %}" type="image/x-icon">
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="{% url 'products:index' %}"><img id="logo" src="{% static 'icons/logo.svg' %}" alt="Главная" width="180px" height="100px"></a></li>
        <li><a href="{% url 'orders:order_history' %}">{% trans 'Заказы' %}</a></li>
        <li><a href="{% url 'baskets:basket' %}">{% trans 'Корзина' %}</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></li>
            <li><a href="{% url 'accounts:register' %}">{% trans 'Регистрация' %}</a></li>
        {% endif %}
        <li id="theme-button"><button id="dark-theme"><img id="theme-icon" src="{% static 'icons/dark.svg'%}" alt="Тема"></button></li>
    <li>
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <label for="language">{% trans 'Язык:' %}</label>
                <select name="language" id="language" onchange="this.form.submit();">
                    {% get_current_language as current_language %}
                    {% for language_code, language_name in LANGUAGES %}
                        <option value="{{ language_code }}" {% if language_code == current_language %}selected{% endif %}>
                            {{ language_name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </li>
    </ul>
</div>

{% block content %}
{% endblock %}

<script src="{% static 'js/dark-theme.js' %}"></script>
<script src="{% static 'js/top-button.js' %}"></script>
</body>
</html>