{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Корзина' %}
{% endblock %}

{% block content %}
    {% if basket.items.all %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Товар' %}</th>
                <th scope="col">{% trans 'Цена' %}</th>
                <th scope="col">{% trans 'Количество' %}</th>
                <th scope="col">{% trans 'Действия' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in basket.items.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'products:product_detail' pk=item.product.pk %}">{{ item.product.name }}</a>
                    </td>
                    <td>{{ item.product.price }}</td>
                    <td>
                         <button type="button" class="btn btn-primary btn-sm increase" onclick="increaseItem({{ item.pk }})">+</button>
                        <span id="item-quantity-{{ item.pk }}">{{ item.quantity }}</span>
                        <button type="button" class="btn btn-primary btn-sm decrease" onclick="decreaseItem({{ item.pk }})">-</button>

                    </td>
                    <td>
                        <form action="{% url 'baskets:delete_item' item.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">{% trans 'Удалить' %}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
        <td colspan="3"></td>
        <td>{% trans 'Всего' %}: {{ total_price }} $</td>
        <td></td>
      </tr>
            </tbody>
        </table>
        <a href="{% url 'orders:checkout' %}" class="btn btn-primary">{% trans 'Оформить заказ' %}</a>
    {% else %}
        <p>{% trans 'Ваша корзина пуста.' %}</p>
    {% endif %}
    {% csrf_token %}
    <script>
    function increaseItem(pk) {
  $.ajax({
    url: `/basket/increase/${pk}/`,
    method: 'POST',
    data: {
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response) {
      if (response.status === 'success') {
        const currentQuantityElement = $(`#item-quantity-${pk}`);
        const currentQuantity = parseInt(currentQuantityElement.text());
        currentQuantityElement.text(currentQuantity + 1);
      }
    }
  });
}

function decreaseItem(pk) {
  $.ajax({
    url: `/basket/decrease/${pk}/`,
    method: 'POST',
    data: {
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response) {
      if (response.status === 'success') {
        const currentQuantityElement = $(`#item-quantity-${pk}`);
        const currentQuantity = parseInt(currentQuantityElement.text());
        if (currentQuantity > 1) {
          currentQuantityElement.text(currentQuantity - 1);
        }
      }
    }
  });
}

</script>
{% endblock %}

{% block extra_js %}

{% endblock %}
