{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Корзина' %}
{% endblock %}

{% block content %}
    {% if basket.items.all %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Товар' %}</th>
                <th scope="col">{% trans 'Цена' %}</th>
                <th scope="col">{% trans 'Количество' %}</th>
                <th scope="col">{% trans 'Действия' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in basket.items.all %}
                <tr class="basket-item-row" id="item-row-{{ item.pk }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'products:product_detail' pk=item.product.pk %}">{{ item.product.name }}</a>
                    </td>
                    <td id="item-price-{{ item.pk }}">{{ item.product.price }}</td>
                    <td>
                         <button type="button" class="btn btn-primary btn-sm increase" onclick="increaseItem({{ item.pk }})">+</button>
                        <span id="item-quantity-{{ item.pk }}">{{ item.quantity }}</span>
                        <button type="button" class="btn btn-primary btn-sm decrease" onclick="decreaseItem({{ item.pk }})">-</button>

                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteItem({{ item.pk }})">{% trans 'Удалить' %}</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
        <td colspan="3"></td>
        <td id="total-price">{% trans 'Всего' %}: <span id="total-price-value">{{ total_price }}</span> $</td>
        <td></td>
      </tr>
            </tbody>
        </table>
        <a href="{% url 'orders:checkout' %}" class="btn btn-primary">{% trans 'Оформить заказ' %}</a>
    {% else %}
        <p>{% trans 'Ваша корзина пуста.' %}</p>
    {% endif %}
    {% csrf_token %}
    <script>
function deleteItem(pk) {
    const deleteURL = `/basket/delete_item/${pk}/`;
    const deferred = $.Deferred();

    $.ajax({
        url: deleteURL,
        method: 'POST',
        data: {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function() {
            deferred.resolve();
        },
        error: function() {
            deferred.reject();
        }
    });

    $.when(deferred).done(function () {
        const removedItemPrice = parseFloat($(`#item-price-${pk}`).text());
        const removedItemQuantity = parseInt($(`#item-quantity-${pk}`).text());

        const newTotalPrice = parseFloat($('#total-price-value').text()) - (removedItemPrice * removedItemQuantity);
        updateTotalPrice(newTotalPrice);
        $(`#item-row-${pk}`).remove();
        if ($('.table tbody .basket-item-row').length === 0) {
            updateTotalPrice(0);
        }



    }).fail(function () {
        console.error('Ошибка при удалении');

    }).always(function () {
        console.log('Удаление произошло успешно');
    });
}


 function updateTotalPrice(newTotalPrice) {
  const totalPriceElement = $('#total-price-value');
  totalPriceElement.text(`${newTotalPrice.toFixed(2)}`);
}

function increaseItem(pk) {
  $.ajax({
    url: `/basket/increase/${pk}/`,
    method: 'POST',
    data: {
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response) {
      if (response.status === 'success') {
        const currentQuantityElement = $(`#item-quantity-${pk}`);
        const currentQuantity = parseInt(currentQuantityElement.text());
        currentQuantityElement.text(currentQuantity + 1);

        updateTotalPrice(response.new_total_price);
      }
    }
  });
}

function decreaseItem(pk) {
  $.ajax({
    url: `/basket/decrease/${pk}/`,
    method: 'POST',
    data: {
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response) {
      if (response.status === 'success') {
        const currentQuantityElement = $(`#item-quantity-${pk}`);
        const currentQuantity = parseInt(currentQuantityElement.text());
        if (currentQuantity > 1) {
          currentQuantityElement.text(currentQuantity - 1);
        }

        updateTotalPrice(response.new_total_price);
      }
    }
  });
}

</script>
{% endblock %}

{% block extra_js %}

{% endblock %}
