{% extends 'base.html' %}

{% block title %}
    Basket
{% endblock %}

{% block content %}
    {% if basket.items.all %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in basket.items.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'products:product_detail' pk=item.product.pk %}">{{ item.product.name }}</a>
                    </td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form action="{% url 'baskets:delete_item' item.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
        <td colspan="3"></td>
        <td>Total: {{ total_price }}</td>
        <td></td>
      </tr>
            </tbody>
        </table>
        <a href="{% url 'orders:checkout' %}" class="btn btn-primary">Checkout</a>
    {% else %}
        <p>Your basket is empty.</p>
    {% endif %}

{% endblock %}
