{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<head>
    {% block title %}
        Veloce
    {% endblock %}
</head>
<body>
{% block content %}
    <form class="filter" method="GET" action="{% url 'products:index' %}">
        <label for="category">{% trans 'Категория:' %}</label>
        <select class="form-control" name="category" id="category">
            <option value="">{% trans 'Все категории' %}</option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="sort">{% trans 'Сортировать по:' %}</label>
        <select class="form-control" name="sort" id="sort">
            <option value="">{% trans 'Выбрать...' %}</option>
            <option value="price-asc">{% trans 'Цена ↑' %}</option>
            <option value="price-desc">{% trans 'Цена ↓' %}</option>
        </select>
        <label for="q">{% trans 'Поиск:' %}</label>
        <input type="text" class="form-control" name="q" id="q">
        <button type="submit" class="btn-btn-primary">{% trans 'Найти' %}</button>
    </form>

    <div class="products-container">
        {% for product in products %}
            <a href="{% url 'products:product_detail' pk=product.pk %}">
                <div class="product">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.price }} $</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <button onclick="topFunction()" id="myBtn" title="Вернуться наверх">{% trans 'Наверх' %}</button>

{% endblock %}
</body>
</html>