{% extends 'base.html' %}

{% block title %}
    Детали заказа
{% endblock %}

{% block content %}
    <h1>Детали заказа</h1>
    <h2>ID: {{ order.id }}</h2>
    <p>Дата создания: {{ order.created_at|date:'Y-m-d H:i:s' }}</p>
    <p>Статус: {{ order.status }}</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
