{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans 'История заказов' %}
{% endblock %}

{% block content %}
    <h1>{% trans 'История заказов' %}</h1>

    {% if orders %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">{% trans 'Дата создания' %}</th>
                    <th scope="col">{% trans 'Статус' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td><a href="{% url 'orders:order_detail' order_id=order.id %}">{{ order.id }}</a></td>
                        <td>{{ order.created_at|date:'Y-m-d H:i:s' }}</td>
                        <td>{{ order.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans 'У вас нет заказов.' %}</p>
    {% endif %}
{% endblock %}
