{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Price: {{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Category: {{ product.category }}</p>
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
    <br><br>
    <a href="{% url 'products:update_product' pk=product.pk %}">Edit</a>
    <form action="{% url 'products:delete_product' pk=product.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>
</body>
</html>
