{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <body>
    {% cache 300 product_detail product.pk %}
        <h1>{{ product.name }}</h1>
        <p>{% trans 'Цена:' %} {{ product.price }} $</p>
        <p>{% trans 'Описание:' %} {{ product.description }}</p>
        <p>{% trans 'Количество на складе:' %} {{ product.stock }}</p>
        <p>{% trans 'Категория:' %} {{ product.category }}</p>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
    {% endcache %}
    {% if user.is_authenticated %}
        <form action="{% url 'baskets:add_to_basket' product.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">{% trans 'Добавить в корзину' %}</button>
        </form>
    {% endif %}

    {% if user.is_staff %}
        <a href="{% url 'products:update_product' pk=product.pk %}">{% trans 'Редактировать' %}</a>
        <form action="{% url 'products:delete_product' pk=product.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">{% trans 'Удалить' %}</button>
        </form>
    {% endif %}
    </body>
{% endblock %}