{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    {% block title %}Update Product{% endblock %}
</head>
{% block content %}
    <body>
    <h1>Update Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_price">Price:</label>
            {{ form.price }}
        </div>
        <div>
            <label for="id_image">Image:</label>
            {{ form.image }}
        </div>
        <div>
            <label for="id_stock">Stock:</label>
            {{ form.stock }}
        </div>
        <div>
            <label for="id_category">Category:</label>
            {{ form.category }}
        </div>
        <button type="submit">Update Product</button>
    </form>
    </body>
{% endblock %}

