{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    {% block title %}Обновление товара{% endblock %}
</head>
{% block content %}
    <body>
    <h1>Обновить товар</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_name">Название:</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_description">Описание:</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_price">Цена:</label>
            {{ form.price }}
        </div>
        <div>
            <label for="id_image">Изображение:</label>
            {{ form.image }}
        </div>
        <div>
            <label for="id_stock">Количество:</label>
            {{ form.stock }}
        </div>
        <div>
            <label for="id_category">Категория:</label>
            {{ form.category }}
        </div>
        <button type="submit">Обновить</button>
    </form>
    </body>
{% endblock %}

